.baseSection {
  width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
}

.title {
  text-align: center;
  font-size: 18px;
  color: rgb(36, 35, 35);
}

.superSection {
composes: baseSection;
background-color: #c9bbbb;
}